include ../mixins/mixins.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css', integrity='sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==', crossorigin='anonymous', referrerpolicy='no-referrer')
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/login.css")
        title #{name}
    body
        script.
            var userInfo = !{userInfoJs}
        .wrapper 
            .row.wrapper-margin
                nav.col-2.nav
                    a.nav-el.active(href="/")
                        i.fas.fa-dove
                    a.nav-el(href="/")
                        i.fas.fa-home
                    a.nav-el(href="/search")
                        i.fas.fa-search
                    a.nav-el(href="/notifications")
                        i.fas.fa-bell
                        span#notification-badge 8
                    a.nav-el(href="/messages")
                        i.fas.fa-envelope
                        span#messages-badge 8
                    a.nav-el(href="/profile")
                        i.fas.fa-user
                    a.nav-el(href="/logout")
                        i.fas.fa-sign-out-alt
                .main-container.col-10.col-md-8.col-lg-6
                    .main-title
                        h1 #{name}
                        block headerButton
                    block content
                .d-none.d-md-block.col-md-2.col-lg-4
        #notificationList     
            
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js', integrity='sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js', integrity='sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==', crossorigin='anonymous', referrerpolicy='no-referrer')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js", integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF", crossorigin="anonymous")
    script(src='https://cdn.socket.io/3.1.3/socket.io.min.js', integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh', crossorigin='anonymous')

    block scripts   
    script(src="/scripts/common.js") 
    script(src="/scripts/clientSocket.js") 