html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body
        .wrapper 
            .row 
                nav.col-2
                    a(href="/")
                        i.fas.fa-dove
                .main-container.col-10.col-md-8.col-lg-6
                    block content
                .d-none.d-md-block.col-md-2.col-lg-4
                    span third column 
                
    include ../footer.pug
