extends layouts/main-layout.pug

block content 
    +createPostForm(userInfo)
    .loading-container 
        img(src="/images/Spinner.gif", alt="")
    .post-wrapper.main 
    +createPostModals(userInfo)
block scripts 
    script(src="/scripts/home.js") 