:root {
  --main-blue: rgb(33, 191, 212);
  --blue: rgb(31, 162, 241);
  --blue-light: #9bd1f9;
  --blue-hover: #d4edff;
  --light-gray: rgb(230, 236, 240);
  --spacing: 0.7em;
  --greyText: rgb(101, 119, 134);
}
html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper > .row {
  margin: 0;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
h1 {
  font-size: 1.4em;
  font-weight: inherit;
}
.wrapper-margin {
  margin: 0;
}
.main-container {
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  padding: 0;
  /* change */
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-el {
  padding: 0.8em;
  font-size: 1.4em;
  color: var(--dark);
}
.nav-el.active {
  color: var(--blue);
}
.nav-el:hover {
  background-color: var(--blue-hover);
  color: var(--blue);
  border-radius: 50%;
}
.main-title {
  padding: var(--spacing);
  border-bottom: 1px solid var(--light-gray);
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-container {
  display: flex;
  border-bottom: 10px solid rgb(230, 236, 240);
  padding: var(--spacing);
  flex-shrink: 0;
}
.message-header {
  /* display: flex;
  align-items: center; */
  position: relative;
}
.message-header .post-options {
  position: absolute;
  right: var(--spacing);
  top: 0;
}
.opt-container {
  margin-right: var(--spacing);
  border: none;
  background-color: transparent;
}
.opt-container.active {
  color: var(--blue);
}
.opt-container svg {
  pointer-events: none;
}
.pinned-text {
  font-size: 0.9em;
  color: var(--greyText);
}
.pin-post-container {
  border-bottom: 10px solid rgb(230, 236, 240);
}
.post-pic {
  width: 3.5em;
  height: 3.5em;
  flex-shrink: 0;
}
.post-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: var(--white);
}
.post-text {
  flex: 1;
  padding-left: var(--spacing);
}
.post-text textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 19px;
}
#postSubmit {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  padding: 0.3em 1em;
  border-radius: 35px;
  outline: none;
}
#postSubmit:disabled {
  background-color: var(--blue-light);
}
.message {
  border-bottom: 1px solid var(--light-gray);
  padding: 1em 0;
  padding-left: var(--spacing);
}
.message.large-font .message-text,
.message.large-font .message-footer {
  font-size: 1.3em;
}
.message-wrapper {
  display: flex;
}
.retweet-container {
  font-size: 0.9em;
  margin-left: 4em;
  color: var(--gray);
}
.message-content {
  padding-left: var(--spacing);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.message-name {
  color: var(--dark);
  font-weight: 800;
}
.message-username {
  color: var(--greyText);
}
.message-username,
.message-date {
  padding: var(--spacing);
}
.message-footer {
  display: flex;
  align-items: center;
  height: 3em;
  /* justify-content: space-around; */
}
.message-footer .message-btn {
  cursor: pointer;
  /* flex: 1; */

  color: var(--gray);
}
.message-btn {
  flex: 1;
}
.message-text {
  margin: 0.6em 0;
  word-break: break-word;
  padding-right: var(--spacing);
}
.btn-container svg,
.btn-container span {
  pointer-events: none;
  margin-left: 0.1em;
}
.message-btn span {
  margin-bottom: 0.1em;
}
.btn-container {
  display: inline-flex;
  align-items: center;
  padding: 0.5em;
  border: none;
  background-color: transparent;
}
.btn-container:hover {
  background-color: #deedff;
  color: var(--blue);
  border-radius: 50%;
}
.btn-container.liked {
  color: red;
}
.btn-container.retweet {
  color: green;
}
.btn-container:hover.liked {
  background-color: rgba(252, 15, 15, 0.1);
}
.btn-container:hover.retweet {
  background-color: rgba(15, 252, 66, 0.1);
}
.reply-flag {
  color: var(--greyText);
  font-size: 0.9em;
}
.no-results {
  padding: var(--spacing);
  display: block;
}
/* Profile */

.profile {
}
.profile-cover {
  background-color: var(--blue);
  height: 15em;
  position: relative;
}
.profile-imgContainer {
  width: 9em;
  height: 9em;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  margin-left: var(--spacing);
}

.profile-imgContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 4px solid #fff;
}
.profile-camera,
.profile-cover-btn {
  position: absolute;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#image-preview,
#image-cover {
  display: block;
  width: 100%;
  max-width: 100%;
}
.profile-coverPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-cover-container {
  width: 100%;
}
.profile-cover-wrapper,
.profile-img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(230, 236, 240, 0);
  transition: background-color 0.3s;
}
.profile-img-wrapper {
  border-radius: 50%;
}
.profile-cover-container:hover .profile-cover-wrapper {
  background-color: rgba(230, 236, 240, 0.3);
}
.profile-cover-container:hover .profile-cover-btn {
  display: block;
}
.profile-imgContainer:hover .profile-img-wrapper {
  background-color: rgba(230, 236, 240, 0.3);
}
.profile-imgContainer:hover .profile-camera {
  display: block;
}
.profile-btns {
  display: flex;
  justify-content: flex-end;
  min-height: 61px;
}
.profile-btn {
  padding: 0.4em 1.3em;
  display: inline-flex;
  border: 1px solid;
  border-radius: 2em;
  margin: var(--spacing);
  color: var(--blue);
  background-color: transparent;
  font-weight: bold;

  align-items: center;
  justify-content: center;
}
.profile-btn:hover {
  background-color: var(--blue-hover);
}
.follow-btn.following {
  background-color: var(--blue);
  color: #fff;
}
.profile-details {
  display: flex;
  flex-direction: column;
  margin: var(--spacing);
}
.profile-name {
  font-weight: bold;
}
.profile-username {
  color: var(--greyText);
}
.profile-followers a {
  color: var(--dark);
}
.profile-followers a:hover {
  text-decoration: underline;
}
.profile-followers .value {
  font-weight: bold;
  margin-right: 3px;
}
.profile-followers span:not(.value) {
  color: var(--greyText);
  margin-right: 3px;
}
.profile-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}
.profile-tabs .tab {
  flex: 1;
  text-align: center;
  padding: var(--spacing);
  font-weight: bold;
  color: var(--greyText);
}
.profile-tabs .tab.active {
  border-bottom: 2px solid var(--blue);
}
.profile-tabs .tab:hover {
  background-color: rgba(31, 162, 241, 0.2);
  color: var(--blue);
}
.user {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  padding: var(--spacing);
}

.user .user-title {
  margin-left: var(--spacing);
  flex: 1;
}
.user .user-title a {
  color: var(--dark);
  font-weight: bold;
}
.user .user-username {
  color: var(--greyText);
}
.search-bar-container i {
  position: absolute;
  left: 0;
}
#search-box {
  width: 100%;
  position: relative;
}
/* Modal */

.modal-body .post-container {
  border: none;
}
/* Chat */
.chat-container {
  text-align: center;
}
.chat-title {
  padding: 1.3em var(--spacing);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
}
.chat-title-container {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  padding: var(--spacing);
}
.chat-title #selected-user {
  width: 100%;
  margin-left: var(--spacing);
}
.chat-title #selected-user input {
  max-width: 100%;
  border: none;
}
.results-datail {
  display: flex;
  flex-direction: column;
}
.chat-container #create-chat-btn {
  margin-top: var(--spacing);
  border: none;
  border-radius: 30px;
  background-color: var(--light-gray);
  padding: var(--spacing);
}
#selected-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.selectedUser {
  margin-right: calc(var(--spacing) / 2);
  margin-bottom: calc(var(--spacing) / 2);
  background-color: var(--blue-light);
  border-radius: 4px;
  padding: 0.3rem;
}
.results-chatlist {
  display: flex;
  padding: var(--spacing);
  border-bottom: 1px solid var(--light-gray);
  color: var(--bs-dark);
}
.results-chatlist:hover {
  background-color: #f2f2f2;
}
.results-detail {
  display: flex;
  flex-direction: column;
}
.chatlist-latest {
  color: var(--greyText);
  font-size: 0.9em;
}
.chat-images {
  width: 4rem;
  height: 4rem;
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0;
  margin-right: var(--spacing);
}
.chat-images img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat-images.groupChatImage {
  position: relative;
}
.chat-images.groupChatImage img {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 65%;
  height: 65%;
  border: 2px solid #fff;
}
.chat-images.groupChatImage img:first-of-type {
  top: 0;
  left: auto;
  right: 0;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#chat-name {
  border: 1px solid rgba(15, 252, 66, 0);
  flex: 1;
  cursor: text;
}
#chat-name:hover {
  border: 1px solid var(--light-gray);
}
.chat-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow-y: auto;
  flex: 1;
  flex-basis: 0;
  min-height: 0;
}
.chat-main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;
}
.loading-container {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%, 50%);
}
.chat-main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}
.chat-wrapper .footer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0;
}
.chat-wrapper .footer textarea {
  flex: 1;
  resize: none;
  height: 38px;
  border-radius: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 14px;
  overflow-y: hidden;
}
.chat-main {
  flex: 1;
}
.chat-wrapper .footer button {
  font-size: 24px;
  margin-left: var(--spacing);
  color: var(--blue);
}
.chats-yard {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
}
.chat-image-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}
.chat-image-container img {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: -10px;
}
/* Messages */
.chat-main {
  padding: 0;
  padding: var(--spacing);
  overflow-y: auto;
}
.chat-main .message-item {
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.typing-dots,
.chat-main .message-item .message-body {
  background-color: #f1f0f0;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1em;
}
.typing-dots {
  width: 59px;
  height: 35px;
  margin: 0 var(--spacing);
  display: none;
}
.typing-dots img {
  width: 100%;
  height: 100%;
}
.chat-main .message-item.mine {
  flex-direction: row-reverse;
}
.chat-main .message-item.mine .message-body {
  background-color: var(--blue);
  color: #fff;
}
.chat-main .message-conteiner {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}
.message-item.mine .message-body {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.message-item.mine.last .message-body {
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
}
.message-item.mine.first .message-body {
  border-bottom-right-radius: 0;
  border-top-right-radius: 20px;
}

.message-item.theirs .message-body {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.message-item.theirs.last .message-body {
  border-top-left-radius: 0;
  border-bottom-left-radius: 20px;
}
.message-item.theirs.first .message-body {
  border-bottom-left-radius: 0;
  border-top-left-radius: 20px;
}
.message-item .image-container {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.message-item img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  vertical-align: bottom;
}
.message-item.last {
  margin-bottom: 10px;
}
