mixin createPostForm(userLoggin)
  .post-container
    .post-pic
      img(src=userLoggin.profilePic, alt='user image')
    form.post-text
      textarea#postText(placeholder="What's happening?")
      .post-btns 
        input#postSubmit(type="submit", disabled='' form='.post-text' value="Post" )